body,html{
    background-color: #3c3f41;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.product {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.add-to-cart:hover {
    opacity: 1;
}

